.backdrop-product2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #c5a880a1;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000000000;

	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease;

	&.is-hidden-product2 {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}

.modal-product2 {
	position: relative;
	width: 800px;
	max-width: 95%;
	background: #F0D1A5;
	border-radius: 25px;
	padding: 40px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.btn-close-product2 {
	position: absolute;
	top: 20px;
	right: 20px;
	background: transparent;
	border: none;
	font-size: 24px;
	cursor: pointer;
	color: #ff2e63;
}

.modal-product-content2 {
	display: flex;
	align-items: center;
	gap: 40px;
	margin-bottom: 40px;
}

.modal-product-left2 {
	flex: 1;
	display: flex;
	justify-content: center;
}

.modal-product-image-wrapper2 {
	width: 250px;
	height: 250px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-product-image2 {
	width: 180px;
	height: auto;
}

.modal-product-right2 {
	flex: 1;
}

.modal-product-title2 {
	font-size: 28px;
	font-weight: 800;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

.modal-product-list2 {
	list-style: disc;
	padding-left: 20px;

	li {
		margin-bottom: 10px;
		font-size: 16px;
	}
}

.modal-product-subtitle2 {
	font-size: 26px;
	font-weight: 800;
	margin-bottom: 15px;
}

.modal-product-text2 {
	font-size: 15px;
	line-height: 1.6;
	max-width: 600px;
}

@media (max-width: 768px) {
	.modal-product-content2 {
		flex-direction: column;
		text-align: center;
	}

	.modal-product-right2 {
		align-items: center;
	}

	.modal-product-list2 {
		padding-left: 0;
		list-style-position: inside;
	}

	.modal-product-image-wrapper2 {
		width: 200px;
		height: 200px;
	}

	.modal-product-image2 {
		width: 150px;
	}
}